.footer{
    padding: 5% 0 0 0;
    background-color: #628474;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-footer{
    margin: 5%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.logo-footer img{
    height: 80px;
}

.boutons-centre{
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.boutons-centre a{
    margin: 0 0 9% 0;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: "workSansReg";
}

.newsletter{
    width: 30%;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
}

.newsletter h3{
    margin-top: 0;
    color: rgba(255,255,255,0.2);
    text-align: left;
}
.newsletter p{
    color: white;
    font-size: 38px;
    margin-bottom: 10%;
    text-align: left;
}

#email{
    font-size: 16px;
    color: rgba(255,255,255,0.2);
    width: 90%;
    padding: 15px;
    background-color: rgba(0,0,0,0.4);
    border: none;
}

.bas-footer{
    margin-bottom: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.mentions a{
    color: white;
    text-decoration: none;
    font-size:16px ;
}

.mentions p{
    color: white;
}

.reseaux{
    width: 20%;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reseaux p{
    margin: auto 5% auto auto;
}

.reseaux img{
    height: 30px;
}



@media screen and (max-width:1240px){

    .footer{
        height: 1000px;
    }

    .container-footer{
        flex-direction: column;
        width: 90%;
    }
    
    .boutons-centre{
        align-items: center;
        margin: 5% 0;
    }

    .newsletter{
        width: 80%;
        align-items: center;
    }

    .newsletter h3{
        text-align: center;
    }

    .newsletter p{
        font-size: 20px;
        text-align: center;
        margin: 10px;
    }

    #email{
        width: 100%;
    }

    .bas-footer{
        flex-direction: column;
    }

    .reseaux{
        margin-top: 10px;
        width: 50%;
        justify-content: left;
    }

    .reseaux p{
        margin: 0 10px 0 0;
    }

}