header{
    top: 0;
    width: 100%;
    margin: auto;
    padding: 20px 0;
    position: fixed;
    z-index: 200;
    background: linear-gradient(black, rgba(0,0,0,0));
}

nav{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo_header img{
    height: 50px;

}

.header_droite{

    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.boutons_header{
    width: 750px;
    justify-content: space-between;
    
}

.boutons_header ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.boutons_header a{
    text-decoration: none; 
    color: rgb(255, 255, 255);
    font-family: "workSansReg";
    font-size: 16px;
}

.bouton a{
    background-color: #1DB100;
    border-radius: 2px;
    padding: 10px;
    text-decoration: none; 
    color: white;
    font-family: "workSansReg";
    font-size: 16px;
    text-decoration: none;
}

.bouton a:hover{
    background-color: #77a66e;
}

#menu-burger{
    display: none;
    cursor: pointer;
}

#menu-burger img{
    height: 40px;
}


#menu-deroulant{
    margin: 0 auto;
    display: none;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 10px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 100%;
    z-index: 999;
}

#menu-deroulant li{
    margin: 50px 0;
}

#menu-deroulant a{
    text-decoration: none;
    padding: 25px 0;
    border-top: solid 1px black;
    color: black;
    width: 100%;
}

#menu-deroulant ul{
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#menu-deroulant .bouton a{
    background-color: #1DB100;
    border-radius: 2px;
    margin-bottom: 50px;
    padding: 10px;
    text-decoration: none; 
    color: white;
    font-family: "workSansReg";
    font-size: 16px;
    text-decoration: none;
    border: none;
}

#menu-deroulant .bouton a:hover{
    background-color: #77a66e;
}

@media screen and (max-width:1240px){

    .header_droite{
        display: none;
    }

    #menu-burger{
        display: block;
    }
    
}
